<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <main class="main">
      <h1>Vue basics</h1>
      <h2>First Vue output</h2>
      <div id="app" class="display-content">
        <p>{{text}} Hello world</p>
      </div>

      <h2>V-For</h2>
      <div id="list" class="display-content">
        <ul>
          <li v-for="item in items">{{ item }}</li>
        </ul>
      </div>

      <h2>V-For Set Number Array</h2>
      <div id="numList" class="display-content">
        <ul>
          <li v-for="num in 5">
            {{ num }}
          </li>
        </ul>
      </div>

      <h2>V-Model</h2>
      <div id="typing" class="display-content">
        <textarea v-model="message"> </textarea>
        <h3>{{message}}</h3>
      </div>

      <h2>V-Model Array</h2>
      <div id="names" class="display-content">
        <input
          type="checkbox"
          id="Mark"
          value="Mark"
          v-model="checkedNames"
          class="input input__checkbox"
        />
        <label for="Mark">Mark</label>

        <input
          type="checkbox"
          id="Peter"
          value="Peter"
          v-model="checkedNames"
          class="input input__checkbox"
        />
        <label for="Peter">Peter</label>

        <input
          type="checkbox"
          id="Luke"
          value="Luke"
          v-model="checkedNames"
          class="input input__checkbox"
        />
        <label for="Luke">Luke</label>

        <input
          type="checkbox"
          id="John"
          value="John"
          v-model="checkedNames"
          class="input input__checkbox"
        />
        <label for="John">John</label>

        <h3>{{ checkedNames }}</h3>
      </div>

      <h2>V-For Array</h2>
      <div id="namesExtened" class="display-content">
        <span v-for="option in options">
          <input
            type="checkbox"
            :id="option.value"
            :value="option.value"
            v-model="checkedNames"
            class="input input__checkbox"
          />
          <label for="option.value">{{ option.value }}</label>
        </span>
        <h3>{{ checkedNames }}</h3>
      </div>

      <h2>V-If</h2>
      <div id="ifState" class="display-content">
        <input type="text" v-model="typing" class="input input__text" />
        <button type="submit" v-if="typing">Your typing</button>
      </div>

      <h2>V-Show</h2>
      <div id="showState" class="display-content">
        <input type="text" v-model="typing" class="input input__text" />
        <button type="submit" v-show="typing">Your typing</button>
      </div>

      <h2>V-If / V-Else</h2>
      <div id="ifElse" class="display-content">
        <h3>Do you like Tacos?</h3>
        <input type="radio" v-model="tacos" value="yes" id="tacoYes" />
        <label for="tacoYes">Yes</label>
        <input type="radio" v-model="tacos" value="no" id="tacoNo" />
        <label for="tacoNo">No</label>
        <div v-if="tacos">
          <p v-if="tacos === 'yes'">Yay you like Tacos</p>
          <p v-else>No your a monster</p>
        </div>
      </div>

      <h2>V-Bind / :</h2>
      <div id="binding" class="display-content">
        <label for="texting">Type here:</label>
        <input
          id="texting"
          v-model="texting"
          type="text"
          class="input input__text"
        />
        <button type="submit" :class="[texting ? 'active-class' : '']">
          Send me now!
        </button>

        <!-- v-bind:class -->
      </div>

      <h2>V-Once</h2>
      <div id="once" class="display-content">
        <h3>Whats your favourite breed of dog?</h3>
        <p><input type="text" v-model="breed" class="input input__text" /></p>
        <p v-once>I Like {{ breed }}</p>
        <p>You now like {{ breed }}</p>
        <pre>{{$data}}</pre>
      </div>

      <h2>V-On / @</h2>
      <div id="onClick" class="display-content">
        <h3>Add and take away quanities</h3>
        <button v-on:click="counter > 0 ? counter -= 1 : 0">-</button>
        <button @click="counter += 1">+</button>
        <h3>Quanity:{{ counter }}</h3>
        <button type="submit" @click="">Submit</button>
      </div>

      <h2>V-Html</h2>
      <div id="htmlOutput" class="display-content">
        <h3>Whats your favourite breed of dog?</h3>
        <p v-html="breed"></p>
      </div>

      <h2>V-Text</h2>
      <div id="vText" class="display-content">
        <h3>Whats your favourite breed of dog?</h3>
        <input type="text" v-model="breed" class="input input__text" />
        <h4>v-text</h4>
        <p v-text="breed"></p>
        <h4>Mustache</h4>
        <p>{{ breed }}</p>
      </div>
    </main>

    <script src="./js/App.js"></script>
  </body>
</html>
